*{
	margin:0;
}
body{
	max-width:1000px;
	margin:auto;
}
header{	
	color:white;
	background:green;
	text-align:center;
	padding-bottom: 15px;
	padding:15px;
}
	header h1{
		margin-top:-10px;
	}
	header p{
	}
section.main-content{
	background:#CEFECE;
	text-align:center;
	min-height:300px;
}
	section h2{
		text-decoration:underline;
		padding:10px;
	}
	section form{
		float:center;
		padding:15px;
	}
		section form table{
			background:#E8E8FF;
			margin:auto;
			width:50%;
		}
			section form table input{
				width:100%;
			}
footer{
	background:green;
	color:white;
	padding:5px;
	overflow:auto;
}
	footer .left{
		float:left;
	}
	footer .right{
		float:right;
	}
	footer .left,footer .right{
		padding:10px;
		
	}
	